[submodule "libs/matplotlib_cpp"]
	path = libs/matplotlib_cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
